@page
@model RegisterModel
@{ ViewData["Title"] = "Register"; }



<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="address">
            <h4>Maak een nieuw account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Naam"></label>
                <input asp-for="Input.Naam" class="form-control" />
                <span asp-validation-for="Input.Naam" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Postcode"></label>
                <input asp-for="Input.Postcode" class="form-control postcode" />
                <span asp-validation-for="Input.Postcode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.HuisNummer"></label>
                <input asp-for="Input.HuisNummer" class="form-control streetnumber" />
                <span asp-validation-for="Input.HuisNummer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Straat"></label>
                <input asp-for="Input.Straat" class="form-control street" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Input.Stad"></label>
                <input asp-for="Input.Stad" class="form-control city" readonly />
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Registreer</button>
        </form>
    </div>

    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Gebruik een andere service om in te loggen.</h4>
            <hr />
            @{ if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
    <div>
        <p>
        </p>
    </div> }
else
{
<form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
    <div>
        <p>
            @foreach (var provider in Model.ExternalLogins)
            {
<button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in met uw @provider.DisplayName account">@provider.DisplayName</button>}
        </p>
    </div>
</form> } }
        </section>
    </div>
</div>

@section Scripts {


    <partial name="_ValidationScriptsPartial" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/js/autocomplete.js"></script>
    <script type="text/javascript">
        var pro6pp_auth_key = 'PHQP6lSEgwiHQ3QC';
        $(document).ready(function () {
            $('.address').applyAutocomplete();
        });
    </script>
}
